@charset 'utf-8';

/* common */
.al { text-align: left !important; }
.ac { text-align: center !important;; }
.ar { text-align: right !important;; }

.ir { display: inline-block; overflow: hidden; text-indent: -99999px; }

.spacing-large { margin-top: 40px !important; }
.spacing-medium { margin-top: 40px !important; }
.spacing-small { margin-top: 10px !important; }

.ml-5 { margin-left: 5px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-20 { margin-left: 20px !important; }
.mr-5 { margin-right: 5px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-20 { margin-top: 20px !important; }

.text-primary { color: #f45441 !important; }
.text-warn { color: #f45441 !important; }

/* IE Scroll */
html { 
    scrollbar-arrow-color: #efefef;
    scrollbar-Track-Color: #efefef; 
    scrollbar-base-color: #dfdfdf;
    scrollbar-Face-Color: #dfdfdf;
    scrollbar-3dLight-Color: #dfdfdf;
    scrollbar-DarkShadow-Color: #dfdfdf;
    scrollbar-Highlight-Color: #dfdfdf;
    scrollbar-Shadow-Color: #dfdfdf;
}

/* Chrome, Safari Scroll */
::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-thumb { background-color: transparent; border-radius: 10px; }
::-webkit-scrollbar-track { background-color: #aaa; border-radius: 10px; }


/* component: badge */
.badge { display: inline-block; min-width: 55px; height: 24px; line-height: 24px; padding: 0 10px; border-radius: 2px; background-color: #f4af1b; color: #fff; font-size: 12px; font-weight: 500; text-align: center; }

/* component: button */
/* default */
.btn {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    background: transparent;
    border-radius: 2px;
    color: #fff;
    font-family: 'Noto Sans KR', '맑은 고딕', Malgun Gothic, Arial, Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: -.05em;
    cursor: pointer;
    transition: color .2s, background .2s, border .2s;
}
.btn:hover, .btn:focus { text-decoration: none; }
.btn:focus span, .btn:active span { position: relative; top: 0; left: 0; } /* button 태그 클릭 시 텍스트 밀림 제거 */
.btn.primary { background-color: #151e48; }
.btn.secondary { background-color: #f45441; }
.btn.point { background-color: #f4af1b; font-size: 14px; font-weight: 700px; }
.btn.line { line-height: 28px; padding: 0 10px; border: 1px solid #e2e2e2; background: #fff; color: #333; } 
.btn.line.small { line-height: 22px; border-radius: 2px; } 
.btn.line.primary { border: 1px solid #151e48; color: #151e48; }
.btn.line.secondary { border: 1px solid #f45441; color: #f45441; }
.btn.small { height: 24px; line-height: 24px; font-size: 12px; padding: 0 10px; }

/* action */
.btn-action {
    box-sizing: border-box;
    display: inline-block;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: #151e48;
    border-radius: 2px;
    color: #f4af1b;
    font-family: 'Noto Sans KR', '맑은 고딕', Malgun Gothic, Arial, Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: -.05em;
    cursor: pointer;
    transition: color .2s, background .2s, border .2s;
}
.btn-action.confirm { background: #151e48; color: #f4af1b; }
.btn-action.cancel { line-height: 38px; border: 1px solid #151e48; background-color: #fff; color: #151e48; }

/* etc. */
.btn-reset { display: inline-block; height: 20px; padding-left: 20px; background: url('../images/icon-reset.png') no-repeat left center; color: #121e4b; font-size: 14px; font-weight: 500; }

/* grouping */
.btn-wrap { margin-top: 30px; font-size: 0; text-align: center; }
.btn-wrap .btn { min-width: 100px; }
.btn-wrap .btn + .btn { margin-left: 5px; }
.btn-grid-wrap { display: inline-block; font-size: 0; }
.btn-grid-wrap .btn + .btn { margin-left: 5px; }
.btn-action-wrap { margin-top: 50px; font-size: 0; text-align: center; }
.btn-action-wrap  .btn-action + .btn-action { margin-left: 10px; }
.btn-period-group { display: inline-block; margin-left: 20px; vertical-align: top; }
.btn-period-group  { display: inline-block; font-size: 0; }
.btn-period-group  .btn + .btn { margin-left: 5px; }

/* component: form */
::-ms-clear { display: none; }
::-ms-expand { display: none; }

::placeholder { color: #d8d8d8; opacity: 1; }  /* Firefox */
:-ms-input-placeholder { color: #d8d8d8; } /* Internet Explorer 10-11 */
::-ms-input-placeholder { color: #d8d8d8; } /* Microsoft Edge */
::-webkit-input-placeholder { color: #d8d8d8; }
:-moz-input-placeholder { color: #d8d8d8; }

input[type='search'] { -webkit-appearance: none; }
input[type='search']::-webkit-search-cancel-button { -webkit-appearance: none; }

/* component: form > input[type='text'], input[type='password'], input[type='number'] */
input[type='text'], 
input[type='password'], 
input[type='number'] { display: inline-block; width: 100%; height: 30px; padding: 0 10px; border: 1px solid #d8d8d8; color: #666; font-family: 'Noto Sans KR'; font-size: 13px; line-height: 28px; /* outline: none; */ }
input[type='text'][disabled] { border-color: #e9e9e9; background-color: #f5f5f5; color: #d8d8d8; cursor: not-allowed; }

.input-group { display: inline-block; height: 30px; }
.input-group.error input[type='text'] { border: 1px #ed5565 solid; }
.input-group.error .validation-check { display: block; margin-top: 5px; color: #ed5565; }
.input-group.help .help-text { display: block; margin-top: 5px; color: #000; }

/* component: form > input[type='checkbox'], input[type='radio'] */
input[type='checkbox'],
input[type='radio'] { display: none; }
input[type='checkbox'][disabled] + label,
input[type='radio'][disabled] + label { color: #aaa; cursor: not-allowed; }

/* component: form > input[type='checkbox'] */
input[type='checkbox'] + label { font-size: 13px; line-height: 15px; color: #666; cursor: pointer; vertical-align: 1px; }
input[type='checkbox'] + label::before { content: ''; display: inline-block; width: 15px; height: 15px; border: 1px solid #151e48; border-radius: 2px; background-color: #fff; vertical-align: middle; }
input[type='checkbox'] + label span { margin-left: 8px; vertical-align: middle; line-height: 15px; }
input[type='checkbox']:checked + label::before { background: #151e48 url('../images/icon-checkbox-checked.png') no-repeat center center; }
input[type='checkbox'][disabled] + label::before { border-color: #e9e9e9; background: #f4f4f4; }
input[type='checkbox'][disabled]:checked + label::before { background: #f4f4f4 url('../images/icon-checkbox-checked-disabled.png') no-repeat center center; }

/* component: form > input[type='radio'] */
input[type='radio'] + label { font-size: 13px; line-height: 15px; color: #666; cursor: pointer; vertical-align: 1px; }
input[type='radio'] + label::before { content:''; display: inline-block; width: 15px; height: 15px; border: 1px solid #151e48; border-radius: 100%; background-color: #fff; vertical-align: middle; }
input[type='radio'] + label span { margin-left: 8px; vertical-align: middle; line-height: 15px; }
input[type='radio']:checked + label::before { border: 5px solid #151e48; background-color: #f4af1b; }
input[type='radio'][disabled] + label::before { border-color: #e9e9e9; background: #f4f4f4; }
input[type='radio'][disabled]:checked + label::before {}

/* component: form > input[type="file"] */
.filebox { position: relative; width: 100%; font-size: 0; display: flex; align-items: center; justify-content: space-between; }
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.filebox .upload-name { display: inline-block; overflow: hidden; width: calc(100% - 160px); height: 30px; padding: 0 10px; line-height: 28px; border: 1px solid #d8d8d8; color: #666; font-size: 13px; white-space: nowrap; text-indent: 1px; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; text-overflow: ellipsis; }
.filebox .upload-name[disabled] { background-color: #f5f5f5;}
.filebox .input-group-btn { display: inline-block; }
.filebox .btn-file { display: inline-block; width: 150px; height: 30px; vertical-align: top; }

/* component: form > select */
select{ display: inline-block; width: 100%; height: 30px; padding: 0 10px; border: 1px solid #d8d8d8; border-radius: 2px; background: url('../images/icon-select-arrow.png') no-repeat right 15px center; font-family: 'Noto Sans KR'; font-size: 13px; color: #666; line-height: 28px; cursor: pointer; }
select { appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; }
select[disabled] { border-color: #e9e9e9; background-color: #f5f5f5; color: #d8d8d8; cursor: not-allowed; }

/* component: form > select(custom) */
.select { display: inline-block; width: 100%; height: 30px; padding: 0 10px; border: 1px solid #d8d8d8; border-radius: 2px; background: url('../images/icon-select-arrow.png') no-repeat right 15px center; font-family: 'Noto Sans KR'; font-size: 13px; color: #666; line-height: 28px; cursor: pointer; }
.select { position: relative; vertical-align: top; text-align: left; }
.select[disabled] { border-color: #e9e9e9; background-color: #f5f5f5; color: #d8d8d8; cursor: not-allowed; }
.select.open { background: url('../images/icon-select-arrow-open.png') no-repeat right 15px center; }
.select .current { cursor: pointer; }
.select .option-list { display: none; position: absolute; top: 100%; left: -1px; right: 0; z-index: 2; height: auto; padding: 10px 0; border: 1px solid #151e48; border-radius: 4px; background-color: #fff; box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.12) }
.select.open .option-list { display: block; }
.select.open.bottom .option-list { top: auto; bottom: 100%; }
.select .option { display: list-item; padding: 0 15px; line-height: 25px; color: #666; cursor: pointer; }
.select .option:hover, 
.select .option:active, 
.select .option:focus { color: #f45441; background: #f7f7f7; }

/* component: etc > dropdown */
.dropdown-box { display: inline-block; position: relative; width: 300px; height: 100%; background-color: #fff; font-size: 14px; color: #474747; text-align: left; transition: all .5s ease; }
.dropdown-box .select-box { display: block; position: relative; padding: 10px; border: 1px solid #000; cursor: pointer; }
.dropdown-box .select-box:after { content: ''; position: absolute; top: 50%; right: 5px; width: 24px; height: 24px; margin-top: -11px; background: url('../images/icon-select-arrow.png') no-repeat; -moz-transform: rotate(0); -o-transform: rotate(0); -webkit-transform: rotate(0); -ms-transform: rotate(0); transition: all 0.25s; }
.dropdown-box:active { background-color: #f8f8f8; }
.dropdown-box.active:hover,
.dropdown-box.active { border-bottom: 0; background: #f8f8f8; }
.dropdown-box.active .select-box:after { -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transition: all 0.25s; }
.dropdown-box .dropdown-list { display: none; position: absolute; left: 0; z-index: 10; overflow: hidden; overflow-y: auto; width: 100%; max-height: 150px; margin-top: -1px; padding: 0; border:1px solid #000; background: #fff; }
.dropdown-box .dropdown-list li { padding: 10px; transition: all .2s ease-in-out; cursor: pointer; }
.dropdown-box .dropdown-list li:hover { background: #f2f2f2; }

/* component: form > textarea */
.textarea-group { display: inline-block; min-width: 320px; width: 100%; }
.textarea-group textarea { overflow: auto; min-width: 320px; width: 100%; height: 160px; padding: 10px; border: 1px solid #d8d8d8; border-radius: 2px; color: #666; }
.textarea-group .count-area {}

/* component: datepicker */
.ui-datepicker-trigger{ cursor: pointer; }
.hasDatepicker{ cursor: pointer; }
#ui-datepicker-div { z-index: 9999 !important; }

.input-calendar-group { display: inline-block; height: 30px; }
.input-calendar-group > span { display: inline-block; min-width: 158px; vertical-align: top; }
.input-calendar-group .divide { display: inline-block; min-width: auto; margin: 0 10px; vertical-align: top; line-height: 30px; }
.input-calendar-group .input-datepicker { width: 126px; }
.input-calendar-group .ui-datepicker-trigger { display: inline-block; width: 22px; height: 22px; margin-left: 10px; background: url('../images/icon-calendar.png') no-repeat right center; cursor: pointer; vertical-align: middle; }
.input-calendar-group .input-datepicker:disabled + .ui-datepicker-trigger,
.input-calendar-group .input-datepicker[disabled] + .ui-datepicker-trigger { opacity: .5; }

/* component: no-data */
.no-data { padding: 150px 0; text-align: center; }
.no-data:before { content: ''; display: inline-block; width: 30px; height: 30px; margin-bottom: 15px; background: url('../images/icon-no-data.png') no-repeat; }

/* component: table */
.table-container {}
.table-container table { width: 100%; table-layout: fixed; background-color: #fff; border: 0 none; }
.table-container table th,
.table-container table td { box-sizing: border-box; word-wrap: break-word; border: 0 none; }
.table-container table thead th { height: 50px; color: #333; font-size: 14px; font-weight: 700; text-align: center; vertical-align: middle; }
.table-container table thead th .thin { color: #717791; font-size: 12px; font-weight: 500; }
.table-container table tbody th,
.table-container table tbody td { height: 37px; padding: 9px 5px; border-bottom: 1px solid #efeff8; color: #666; font-size: 12px; font-weight: 300; text-align: center; line-height: 1.3; }
.table-container table tbody tr:first-child th,
.table-container table tbody tr:first-child td { border-top: 1px solid #00154f; }
/* .table-container table tbody tr:hover th, 
.table-container table tbody tr:hover td { background-color: #fcfcfc; } */
/* .table-container .title-link { text-decoration: underline; } */
.table-container .title-link:hover, 
.table-container .title-link:focus { text-decoration: underline; }
.table-container .title-link.ellipsis { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; }
.table-container .title-link.underline { text-decoration: underline; }
.table-container table th.line-l,
.table-container table td.line-l { border-left: 1px solid #efeff8; }
.table-container table th.line-t,
.table-container table td.line-t { border-top: 1px solid #efeff8; }
.table-container table td.disabled { background-color: #f5f5f5; }
.table-container table.line th:not(:last-child), 
.table-container table.line td:not(:last-child) { border-right: 1px solid #e8e8e8; }
.table-container table.line tr:hover th { background-color: #fff; }
.table-container table.line tr:hover td.disabled { background-color: #f5f5f5; }

.table-top-info { display: flex; align-items: center; justify-content: space-between; min-height: 24px; }
.table-top-info + .table-container { margin-top: 10px; }
.table-top-info .count-area { padding-left: 10px; }
.table-top-info .count-area span { color: #151e48; font-size: 12px; }
.table-top-info .count-area em { color: #f45441; font-style: normal; }
.table-top-info .count-area .total:before { content: ''; display: inline-block; width: 1px; height: 10px; margin: 0 10px 0 6px; background-color: #aaa; vertical-align: 0; }
.table-top-info.right { justify-content: flex-end; }

.summary-wrap { display: inline-block; width: 100%; padding: 0 30px; transition: all .5s ease; } 
.summary-wrap .summary-detail { position: relative; padding: 20px 0; }
.summary-wrap .summary-detail .btn-control { position: absolute; top: calc(50% - 15px); right: -8px; display: inline-block; width: 30px; height: 30px; background: url('../images/icon-select-arrow.png') no-repeat center center; -moz-transform: rotate(0); -o-transform: rotate(0); -webkit-transform: rotate(0); -ms-transform: rotate(0); transition: all 0.25s; cursor: pointer; }
.summary-wrap .summary-detail-more { display: none; padding: 20px 0; border-top: 1px solid #e8e8e8; }
.summary-wrap.active .btn-control { -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transition: all 0.25s; }
.summary-wrap.active .summary-detail-more { display: block; }

/* component: pagination */
.pagination { margin-top: 35px; font-size: 0; text-align: center; }
.pagination * { vertical-align: top;  }
.pagination button { display: inline-block; width: 30px; height: 30px; background-color: #fff; font-size: 12px; line-height: 30px; color: rgba(0, 0, 0, 0.6); }
.pagination button > span { position:absolute; left:-9999px; }
.pagination button[disabled] { opacity: .4; cursor: default; }
.pagination .btn-first { margin-right: 7px; background-image: url('../images/icon-first.png'); }
.pagination .btn-prev { background-image: url('../images/icon-prev.png'); }
.pagination .btn-next { background-image: url('../images/icon-next.png'); }
.pagination .btn-last { margin-left: 7px; background-image: url('../images/icon-last.png'); }
.pagination .btn-first[disabled], .pagination .btn-first[disabled]:hover { background-image: url('../images/icon-first.png'); }
.pagination .btn-prev[disabled], .pagination .btn-prev[disabled]:hover { background-image: url('../images/icon-prev.png'); }
.pagination .btn-next[disabled], .pagination .btn-next[disabled]:hover { background-image: url('../images/icon-next.png'); }
.pagination .btn-last[disabled], .pagination .btn-last[disabled]:hover { background-image: url('../images/icon-last.png'); }
.pagination .btn-first:hover { background-image: url('../images/icon-first-active.png'); }
.pagination .btn-prev:hover { background-image: url('../images/icon-prev-active.png'); }
.pagination .btn-next:hover { background-image: url('../images/icon-next-active.png'); }
.pagination .btn-last:hover { background-image: url('../images/icon-last-active.png'); }
.pagination ul { display: inline-block; margin: 0 30px; font-size: 0; line-height: 1; }
.pagination ul li { display: inline-block; width: 20px; margin: 0 2px; vertical-align: top; }
.pagination ul li a { color:#888; font-size: 13px; line-height: 30px; text-decoration: none; }
.pagination ul li:hover a,
.pagination ul li.current a { color: #151e48;  font-weight: 500; }

/* component: tab */
.tab-area { width: 100%; min-height: 300px; }
.tab-area::after { content: ''; display: table; clear: both; }
.tab-area .tabs { width: 100%; padding: 0 40px; background-color: #151e48; }
.tab-area .tabs::after{content: ''; display: table; clear: both;}
.tab-area .tabs li { float: left; height: 80px; margin-right: 25px; padding-top: 34px; border-bottom: 3px solid 151e48; }
.tab-area .tabs li a { display: block; padding: 0 15px; color: #fff; font-size: 22px; font-weight: 700; text-decoration: none; line-height: 25px; }
.tab-area .tabs li a:hover { color: #f4af1b; }
.tab-area .tabs li.selected { border-bottom: 3px solid #f4af1b; }
.tab-area .tabs li.selected a { color: #f4af1b; }
.tab-area .tab-contents { height: calc(100% - 80px); overflow-y: auto;  }
.tab-area .tab-contents > li { display: none; width: 100%; height: 100%;}
.tab-area .tab-contents > li.active { display: block; }

/* component: popup */
body.popup-open { overflow: hidden; }
body.popup-open .popup-container { display: block; }
body.popup-open2 { overflow: hidden; }
body.popup-open2 .popup-container2 { display: block; }


/* type 1 */
.popup-container { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; }
.popup-container .dimmed { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1100; background-color: rgba(0,0,0,.9); }
.popup-container.active { display: block; }

.popup-container.active .popup-wrap { display: block; overflow-y: auto; position: relative; z-index: 1200; height: 100%; }
.popup-container .popup { display: none; /*overflow-y: auto;*/ width: 1100px; margin: 40px auto; }
.popup-container .popup .popup-header { position: relative; display: flex; align-items: flex-start; justify-content: space-between; height: 68px; text-align: left; }
.popup-container .popup .popup-header .popup-title { color: #fff; font-size: 32px; font-weight: 700; letter-spacing: -1px; }
.popup-container .popup .popup-header .btn-popup-close { position: absolute; top: 12px; right: 0; width: 32px; height: 32px; background: url('../../assets/images/btn-close.png') no-repeat center center; }
.popup-container .popup .popup-body { padding: 40px 0 50px; background-color: #efeff8; text-align: left; }
.popup-container .popup .popup-body .content-head { padding: 24px 30px; background-color: #151e48; }
.popup-container .popup .popup-body .content-body { margin: 0 40px; }
.popup-container .popup .popup-content { padding: 20px; }
.popup-container .popup .layout-table-container > .layout-table { padding: 30px 30px; }
.popup-container .popup .layout-table-container.half > .layout-table { padding: 30px 0; }
.popup-container .popup .layout-table-container.half .form-row:nth-child(2) ~ .form-row { margin-top: 10px; }
.popup-container .popup .layout-table .form-head { vertical-align: top; line-height: 30px; }
.popup-container .popup .layout-table .form-cell { vertical-align: top; line-height: 30px; }
.popup-container .popup .layout-table .form-cell .radio-box,
.popup-container .popup .layout-table .form-cell .check-box { vertical-align: top; }
.popup-container .popup .head-title { background-color: #efeff8; color: #222; }
.popup-container .popup .form-row-inline { margin-top: 5px; }
.popup-container .popup .inner-container { padding: 0; }
.popup-container .popup .popup-body .tab-area { margin-top: -40px; }
.popup-container .popup .popup-body .tab-area .content-body { padding-top: 50px; }

/* type 2 */
.popup-container2 { display: none; position: relative; z-index: 1000; width: 100%; height: 100%; }
.popup-container2 .dimmed { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1100; width: 100%; height: 100%; background-color: rgba(0,0,0,.4); }
.popup-container2.active { display: block; }

.popup-container2 .popup { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1200; width: 500px; border-radius: 4px; box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.2); border: solid 1px #151e48; background-color: #fff; }
.popup-container2 .popup .popup-header { padding: 35px 0 25px; text-align: center; }
.popup-container2 .popup .popup-header .popup-title { color: #222; font-size: 22px; font-weight: 700; }
.popup-container2 .popup .btn-popup-close { position: absolute; top: 24px; right: 24px; width: 20px; height: 20px; background: url('../../assets/images/btn-close-poup.png') no-repeat center center; }

.popup-container2 .popup .popup-body .content-head { padding: 0 30px 40px; background-color: #fff;}
.popup-container2 .popup .popup-body .content-body { overflow-y: auto; padding: 30px 30px; background-color: #efeff8; border-radius: 0 0 4px 4px; }
.popup-container2 .popup .popup-body .btn-action-wrap { margin-top: 20px; }
.popup-container2 .popup .popup-body .no-data { padding: 60px 0; }
.popup-container2 .popup .form-row:not(:first-child) { margin-top: 5px !important; }
.popup-container2 .btn-wrap { margin-top: 20px;}
.popup-container2 .btn-wrap .btn { width: 100%; color: #f4af1b; }


/* component */
.box-white { background: #fff; }
.inner-container { padding: 30px; background-color: #fff;}
.line-top { border-top: 1px solid #e8e8e8; }
.head-title { color: #f4af1b; font-size: 18px; font-weight: 700; margin-bottom: 10px; }
.form-row:not(:first-child) { margin-top: 10px; }

/* 레이아웃 테이블 */
.layout-table-container.half { position: relative; }
.layout-table-container.half:after { content: ''; position: absolute; top: 0; left: 50%; display: block; width: 1px; height: 100%; background: #e8e8e8;}
.layout-table-container.half .form-row { float: left; width: 50%; margin-top: 0; padding: 0 30px; }
.layout-table-container.half .form-row:nth-child(2) ~ .form-row { margin-top: 20px; }
.layout-table-container.half .layout-table { padding: 30px 0; }
.layout-table-container.half .form-row.full { float: none; width: 100%; }

.layout-table { width: 100%; background-color: #fff; }
.layout-table:after { content: ''; display: block; clear: both; }
.layout-table .form-row { display: table; width: 100%; table-layout: fixed; }
.layout-table .form-head { box-sizing: border-box; display: table-cell; width: 120px; height: 30px; color: #333; font-size: 14px; font-weight: 500; vertical-align: top; letter-spacing: -.05em; line-height: 30px; }
.layout-table .form-cell { display: table-cell; box-sizing: border-box; min-height: 30px; line-height: 30px; font-size: 13px; vertical-align: top; line-height: 30px; }
.layout-table.view .form-cell { /*padding-top: 5px;*/ } 
.layout-table .form-row.block .form-head { display: block; width: 100%; }
.layout-table .form-row.block .form-cell { display: block; width: 100%; margin-top: 10px; }
.layout-table .btn-regist { text-align: left; color: #d8d8d8; width: 100%; }
.layout-table .select { width: 100%; }
.layout-table .input-group { width: 100%; }
.layout-table .input-group.unit { display: inline-block; width: 85%; }
.layout-table .editor-area { width: 100%; min-height: 460px; }
.layout-table .text-unit { display: inline-block; line-height: 30px; }

.inquiry-field { position: relative; }
.inquiry-field .btn-reset { position: absolute; top: 30px; right: 30px; }

.radio-btn-wrap { font-size: 0; }
.radio-btn:not(:last-child) { margin-right: 10px; }
.radio-btn { position: relative; display: inline-block; width: 130px; height: 35px; padding: 0 5px; border: 1px solid #121e4b; border-radius: 19.5px; background-color: #fff; color: #121e4b; font-size: 18px; font-weight: 500; line-height: 33px; text-align: center; transition: background 0.2s ease-in-out; cursor: pointer; }
.radio-btn input { position: absolute; opacity: 0; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; }
.radio-btn .txt { display: inline-block; }
.radio-btn.checked { background-color: #151e48; color: #f4af1b;  }

.radio-box-wrap { display: inline-block; min-height: 30px; vertical-align: top; }
.radio-box-wrap .radio-box:not(:last-child) { margin-right: 40px; }
.radio-box { display: inline-block; vertical-align: middle; }

.check-box-wrap { display: inline-block; min-height: 30px; vertical-align: top; }
.check-box-wrap .check-box:not(:last-child) { margin-right: 40px; }
.check-box { display: inline-block; vertical-align: middle; }

.wd70 { width: 70px !important; }
.wd90 { width: 90px !important; }
.wd123 { width: 123px !important; }
.wd125 { width: 125px !important; }
.wd165 { width: 165px !important; }
.wd200 { width: 200px !important; }
.wd300 { width: 300px !important; }
.wd600 { width: 600px !important; }

@media screen and (max-width: 1480px) { 
    .wd600 { width: 570px !important;}
}


/* form 조합 */
.form-group { display: inline-block; width: auto; font-size: 0; vertical-align: top; }
.form-group * { display: inline-block; vertical-align: top; }
.form-group .divider { font-size: 13px; line-height: 30px; margin: 0 12px; }

.input-search-btn { font-size: 0; }
.input-search-btn * { display: inline-block; vertical-align: top; }
.input-search-btn .select { width: 230px; }
.input-search-btn .input-group { width: calc(100% - 340px); margin: 0 5px; }
.input-search-btn .btn { width: 100px; }

.input-select-input { font-size: 0; }
.input-select-input * { display: inline-block; vertical-align: top; }
.input-select-input .select { width: 125px; }
.input-select-input .input-group { width: calc(100% - 130px); margin-left: 5px; }

.input-id-check { font-size: 0; }
.input-id-check * { display: inline-block; width: 100%; vertical-align: top; }
.input-id-check .input-group { width: calc(100% - 85px); }
.input-id-check .btn { width: 80px; margin-left: 5px; }

.form-row-inline { margin-top: 10px; }
.form-row-inline .form-row { display: inline-block; margin-top: 0; }
.form-row-inline .form-row:last-child .form-head:before { content: ''; display: inline-block; width: 1px; height: 21px; margin-right: 20px; background: #e8e8e8; vertical-align: middle; }
.form-row-inline.half .form-row { display: inline-block; width: 49.5%; }

.title-area { display: flex; align-items: center; justify-content: space-between; }

.select-data-list { display: inline-block; }
.select-data-list::after { content: ''; display: block; clear: both; }
.select-data-list li { float: left; margin-left: 20px; line-height: 30px; }
.select-data-list .text { display: inline-block; color: #151e48; font-size: 12px; text-decoration: underline; }
.select-data-list .btn-del { display: inline-block; width: 18px; height: 18px; margin-left: 6px; background: url('../images/btn-del.png') no-repeat; vertical-align: middle; }

.info-box-list:after { content: ''; display: block; clear: both; }
.info-box-list li { float: left; margin-left: 100px; }
.info-box-list li:first-child { margin-left: 0; }
.info-box-list li * { display: inline-block; }
.info-box-list li .desc { margin-left: 15px; }
.info-box-list .divider { margin: 0 8px; color: #efeff8; font-size: 12px; vertical-align: 0; }

.info-box * { display: inline-block; vertical-align: middle; }
.info-box .tit { margin-right: 40px; color: #333; font-size: 16px; font-weight: 700; }
.info-box .desc strong { color: #333; font-size: 16px; font-weight: 700; }
.info-box .desc .line:before { content: ''; display: inline-block; width: 1px; height: 14px; margin: 0 20px; background: #e8e8e8; vertical-align: middle; }
.info-box .price { color: #333; font-size: 16px; font-weight: 700; }
.info-box .unit { font-size: 12px; vertical-align: -3px; }


/* Page */
/* 사용자 관리 */
.section-user-mgmt {}
.section-user-mgmt .input-search-btn { margin-top: 10px; }
.section-user-mgmt .inquiry-field .btn-wrap { margin-top: 15px; text-align: right; }
.section-user-mgmt .inquiry-field .btn-wrap .btn { width: 200px; }

.user-info-wrap { display: flex; align-items: center; justify-content: space-between; }
.user-info * { display: inline-block; font-size: 16px; font-weight: 700; vertical-align: middle; }
.user-info .tit { color: #f4af1b; }
.user-info .desc { color: #fff; margin-left: 20px; }

/* 가맹점 관리 */
.section-franchise-mgmt .inquiry-field .form-head { width: 100px; }
.section-franchise-mgmt .form-row-inline .form-row:first-child { width: 680px; }
.section-franchise-mgmt .form-row-inline .form-row:last-child { width: 335px; }

/* 결제내역 조회 */
.section-payment .inquiry-field .btn-reset { top: initial; bottom: 30px; }

/* 시스템관리 */
.section-system {}
.section-system .code-manage-container { display: flex; align-items: flex-start; padding: 10px; background-color: #fff;}
.section-system .code-manage-container .master-code-area { width: 300px; }
.section-system .code-manage-container .common-code-area { width: calc(100% - 312px); margin-left: 12px; }
.section-system .code-manage-container .head-area { display: flex; align-items: center; justify-content: space-between; height: 40px; padding: 10px 15px; background-color: #151e48; }
.section-system .code-manage-container .head-area .tit { color: #f4af1b; font-weight: 700; }
.section-system .code-manage-container .content-area { overflow-y: auto; height: 514px; border: 1px solid #e9e9e9; border-top: none; }
.section-system .code-manage-container .master-code-list { padding: 6px; }
.section-system .code-manage-container .master-code-list li { height: 30px; }
.section-system .code-manage-container .master-code-list li a { display: block; height: 30px; line-height: 30px; padding-left: 22px; font-size: 13px; text-decoration: none; }
.section-system .code-manage-container .master-code-list li.on a { color: #f45441; background: #f0f0f0 url('../images/icon-check-orange.png') no-repeat 10px center; }
.section-system .code-manage-container .common-code-area .content-area { padding: 6px 10px; }
.section-system .code-manage-container .common-code-area .btn-del { width: 17px; height: 17px; border-radius: 100%; background: #f45441 url('../images/btn-close.png') no-repeat 50%; background-size: 7px 7px; }

/* 로그인 */
.section-login {background-color: #151e48; }
.login-wrap { position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; }
.login-wrap:before,
.login-wrap:after { content: ''; display: block; border-radius: 100%; position: absolute; }
.login-wrap:before { top: 400px; left: -92px; z-index: 1; width: 1348px; height: 1348px; background-color: #efeff9; }
.login-wrap:after { top: 664px; right: -90px; z-index: 2; width: 970px; height: 970px; background-color: #f4af1b; }

.login-box-wrap { position: absolute; top: calc(50% - 315px); left: calc(50% - 250px); width: 500px; height: 629px; padding: 55px 30px 50px; border-radius: 10px; box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.15); border: solid 0 #151e48; background-color: #fff; z-index: 10; }
.login-box-wrap .site-logo { text-align: center; }
.login-box-wrap .site-logo span { display: inline-block; vertical-align: middle; }
.login-box-wrap .site-logo span:last-child { margin-left: 13px; }
.login-box-wrap .site-logo img { display: inline-block; font-size: 0; vertical-align: top; }
.login-box-wrap .login-title { height: 130px; color: #151e48; text-align: center; }
.login-box-wrap .login-title:before { content: ''; display: block; width: 30px; height: 2px; margin: 36px auto 40px; background-color: #151e48; }
.login-box-wrap .login-title * { display: block; color: #151e48; }
.login-box-wrap .login-title span { font-size: 25px; font-weight: 300; letter-spacing: -1.3px;}
.login-box-wrap .login-title strong { font-size: 30px; font-weight: 700; letter-spacing: -1.82px; }
.login-box-wrap .login-form { margin-top: 60px; }
.login-box-wrap .login-form .input-group  { width: 100%; height: 50px; }
.login-box-wrap .login-form .input-group:first-child { margin-bottom: 10px;}
.login-box-wrap .login-form .input-group label { position:absolute; left:-9999px; font-size: 0; }
.login-box-wrap .login-form .input-group input { height: 50px; line-height: 48px; color: #151e48; font-size: 15px; }
.login-box-wrap .login-form .input-group input:hover,
.login-box-wrap .login-form .input-group input:focus { border-color: #151e48; }
.login-box-wrap .login-form .check-box { margin-top: 10px; }
.login-box-wrap .login-form  .btn-login { width: 100%; height: 60px; line-height: 60px; margin-top: 58px; border-radius: 4px; color: #f4af1b; font-size: 18px; }


/* 가맹점정보 팝업 */
.detail-wrap { position: relative; padding: 30px; background-color: #fff; }
.detail-wrap .btn-grid-wrap { display: block; text-align: right; }
.detail-wrap .status-view { height: 40px; margin: 40px 0; text-align: center; }
.detail-wrap .status-view dl { display: inline-block; width: auto; height: 40px; padding: 0 50px; vertical-align: top; }
.detail-wrap .status-view dl:not(:first-child) { border-left: 1px solid #e9e9e9; }
.detail-wrap .status-view dl * { display: inline-block; vertical-align: top; }
.detail-wrap .status-view dl dt { min-width: 86px; height: 40px; line-height: 40px; padding: 0 20px; border-radius: 20px; background-color: #f4af1b; color: #fff; font-weight: 700; text-align: center; }
.detail-wrap .status-view dl dd { margin-left: 30px; line-height: 40px; color: #151e48; font-size: 18px; font-weight: 500; letter-spacing: -1px; }
.detail-wrap .status-view .btn-new-id { min-width: 86px; height: 20px; line-height: 18px; margin-top: 11px; padding: 0 9px; border-radius: 10px; border: solid 1px #f4af1b; color: #f4af1b; font-size: 12px; }
.detail-wrap .note-area { width: 100%; font-size: 0; }
.detail-wrap .note-area * { display: inline-block; vertical-align: top; line-height: 30px; }
.detail-wrap .note-area .tit { width: 50px; color: #151e48; font-size: 13px; font-weight: 500; }
.detail-wrap .note-area .tit:before { content: '* '; display: inline-block; margin-right: 3px; vertical-align: -2px;  }
.detail-wrap .note-area .desc { width: calc(100% - 50px); font-size: 13px; font-weight: 300; }
.detail-wrap .note-area .desc input { width: 100%; }
.detail-wrap .badge { width: 43px; height: 20px; line-height: 20px; padding: 0 10px; border-radius: 2px; background-color: #f4af1b; } 

.agree-check-area { display: flex; align-items: center; justify-content: space-between; padding: 30px; border-top: 1px solid #e8e8e8; background-color: #fff; }
.agree-check-area > div { flex: auto; }
.agree-check-area > div:last-child { margin-left: 30px; }
.agree-check-area .text-primary { margin-left: 15px; vertical-align: -3px; }

.content-head-title { padding: 50px 0; background-color: #fff; color: #151e48; font-size: 25px; font-weight: 700; text-align: center; }

/* 레이어: 반려하기 */
.return-layer { display: none; position: absolute; z-index: 5; top: 138px; left: calc(50% - 200px); width: 400px; height: 290px; padding: 35px 30px; border-radius: 4px; box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.2); border: solid 1px #151e48; background-color: #fff; }
.return-layer .title { color: #222; font-size: 22px; font-weight: 700; text-align: center; }
.return-layer .contents { text-align: center; }
.return-layer .contents .msg { margin: 20px 0; font-size: 14px; }
.return-layer .contents .input-group { width: 100%; }
.return-layer .btn-action-wrap { margin-top: 40px; }









